body {
    overflow: hidden;
    background-color: #000000;
}

#renderCanvas {
    z-index: -20;
    position: absolute;
    left: 0;
    top: 0;
}

#debug, #debug2, #controls {
    position: absolute;
    font-size: small;
    background-color:rgba(0,0,0,.8);
    color: white;
    padding: 4px;
}

#debug {
    bottom: 0px;
    left: 0px;
    width: 200px;
}

#debug2 {
    top: 0px;
    right: 0px;
    overflow-y: scroll;
    width: 225px;
    height: 100%;
}

#debug2 td {
    padding: 0 8px;
}

.genome {
    width: 170px;
    overflow-x: scroll;
    font-size: x-small;
}

#controls {
    bottom: 0px;
    right: 225px;
    width: 225px;
    vertical-align: bottom;
}
